{% extends 'index.html' %}
{% load static %}

{% block content %}

<h2>List of Appointments</h2>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Date</th>
        <th>Department</th>
        <th>Doctor</th>
        <th>Message</th>
    </tr>

    {% for appointment in appointment_index %}
    <tr>
        <td>{{ appointment.name }}</td>
        <td>{{ appointment.email }}</td>
        <td>{{ appointment.phone }}</td>
        <td>{{ appointment.date }}</td>
        <td>{{ appointment.department }}</td>
        <td>{{ appointment.doctor }}</td>
        <td>{{ appointment.message }}</td>
    </tr>
    
    
    {% endfor %}
</table>


{% endblock %}
